
node_modules/
.env
.env.*
*.log
npm-debug.log*



#Server ignore

server/node_modules/
server/.env
server/.env.*
server/logs/
server/*.log
server/tmp/
server/uploads/
server/dist/
server/build/



# client ignore

client/node_modules/
client/.env
client/.env.*
client/build/
client/dist/
client/npm-debug.log*



.vscode/





